.about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10vw;
    position: relative;
    height: 80vh;
    width: 80vw;
}

.left-section {
    z-index: 3;
    width: 50%;
    height: 90%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right-section {
    width: 50%;
}

.about-heading {
    color: #45A29E;
    text-shadow: 2px 2px 2px #29625f;
    font-size: max(10vmin, 5*10px);
}

.left-mid-section {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.about-content {
    color: #C5C6C7;
    font-size: max(3vmin, 5*3px);
    text-shadow: 2px 2px #0B0C10;
    /* width: 50vw; */
}

.about-resume > a {
    color: #66fcf1;
    text-decoration: none;
    font-size: max(3vmin, 5*3px);
}

/* .about-contacts {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
} */

#myImage {
    position: absolute;
    right: 0;
    /* top: 0; */
    margin-top: 10vh;
    /* margin-left: 50vw; */
    margin-right: 10vw;
    height: 80vmin;
    clip-path: circle(70.0% at 70% 50%);
    /* border-radius: 50% 0 0 50%; */
}

.gradient-my-image {
    z-index: 2;
    position: absolute;
    right: 0;
    /* top: 0; */
    margin-top: 10vh;
    margin-right: 10vw;
    width: 80vh;
    height: 80vh;
    clip-path: circle(70.0% at 70% 50%);
    background: linear-gradient(to right, hsla(176, 43%, 39%, 0.5) , hsla(0, 0%, 100%, 0));
}

/* Style all font awesome icons */
.fa {
    /* margin: 0 10px;
    padding: 20px;
    font-size: 30px;
    width: 30px; */

    margin: 0 max(1vw, 5*1px);
    padding: max(1vw, 5*1px);
    /* padding: auto; */
    font-size: max(5vmin, 5*5px);
    width: max(5vmin, 5*5px);

    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background: #1F2833;
    color: white;
}

/* Add a hover effect if you want */
.fa:hover {
    color: #66fcf1;
    background: #1f2833b1;
}

/* Set a specific color for each brand */

/* Facebook */
/* .fa-facebook {
    background: #1F2833;
    color: white;
} */

@media screen 
    and (max-width: 900px)
{
    .about {
        margin: 10px 5vw;
    }

    #myImage {
        margin-right: 5vw;
    }

    .gradient-my-image {
        margin-right: 5vw;
    }
}

@media screen 
    and (max-width: 600px)
{
    #myImage {
        clip-path: none;
        border-radius: 50%;
    }

    .gradient-my-image {
        display: none;
    }
}

@media screen 
    and (max-width: 600px)
    and (orientation: portrait)
{
    .about {
        margin-top: calc(80vmin + 2 * 10px);
    }
    #myImage {
        top: 0;
        height: 90vmin;
        margin-top: 10px;
        margin-right: 5vw;
        right: 0;
    }
    .about-heading {
        display: none;
    }
    .left-section {
        height: calc(100vh - 90vmin - 10px);
        width: 100%;
        flex-direction: column-reverse;
    }
    .left-mid-section {
        height: 100%;
        justify-content: space-around;
    }
    /* .about-contacts {
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    } */
    .right-section {
        width: 0;
    }
}

@media screen
    and (max-height: 400px)
{
    .about {
        height: 90vh;
    }

    .left-section {
        height: 100%;
    }

    .left-mid-section {
        height: 50%;
    }
}

@media screen 
    and (max-height: 300px) 
{
    .about-heading {
        display: none;
    }
}