.intro {
    /* height: 100vw;
    width: 100vh;
    margin: 30vh auto; */
    display: flex;
    flex-direction: column;
    margin: 30vh auto;
}

.intro-heading {
    font-size: 4vmin;
    color: #25a29e;
}

.intro-text {
    font-size: 10vmin;
    font-weight: bold;
    color: #66fcf1;
}