.App {
  height: 100%;
  width: 100%;
  /* background-color: #0B0C10; */
}

.toggleInitialScroll {
  overflow-y: hidden;
  /* -ms-overflow-y: hidden; */
}

.toggleOverallScroll {
  overscroll-behavior: contain;
}

/* .initial-vertical-scroll {
  overscroll-behavior: contain;
} */

/* .mid-horizontal-scroll::-webkit-scrollbar {
  display: none;
} */

/* .overall-vertical-scroll::-webkit-scrollbar {
  display: none;
} */

::-webkit-scrollbar {
  display: none;
}

.project-nav-arrows {
  display: none;
}

.arrow {
  border: solid #66f3f1;
  border-width: 0 3px 3px 0;
  display: inline-block;
  /* width: 8px;
  height: 10px; */
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

@media screen and (max-width: 1200px) {
  .project-nav-arrows {
    display: block;
    position: absolute;
    right: 4vw;
    top: 50%;
    padding: 1vh;
  }
} 